USE [master]
GO
/****** Object:  Database [NEW_POS]    Script Date: 6/19/2017 5:16:15 AM ******/
CREATE DATABASE [NEW_POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEW_POS', FILENAME = N'D:\RDSDBDATA\DATA\NEW_POS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'NEW_POS_log', FILENAME = N'D:\RDSDBDATA\DATA\NEW_POS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEW_POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEW_POS]
GO
/****** Object:  User [makrov]    Script Date: 6/19/2017 5:16:15 AM ******/
CREATE USER [makrov] FOR LOGIN [makrov] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [makrov]
GO
/****** Object:  Table [dbo].[AUTHORIZATION]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORIZATION](
	[ACTION_CREATE] [bit] NULL,
	[EDIT] [bit] NULL,
	[ACTION_DELETE] [bit] NULL,
	[ACTION_VIEW] [bit] NULL,
	[VERIFICATION] [bit] NULL,
	[NOTIFICATION] [bit] NULL,
	[MESSAGE] [bit] NULL,
	[APPROVE] [bit] NULL,
	[MAILBACK] [bit] NULL,
	[ROLE_ID] [bigint] NOT NULL,
	[MODULE_ID] [bigint] NOT NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[EXPT_TO_EXCEL] [bit] NULL,
	[IMORT_TO_EXCEL] [bit] NULL,
	[Company_Id] [bigint] NULL,
	[User_Id] [bigint] NULL,
 CONSTRAINT [PK_AUTHORIZATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULE](
	[MODULE_NAME] [varchar](50) NULL,
	[MODULE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MODULE] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTO_GENERATE_CODE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTO_GENERATE_CODE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUTO_GENERATE_CODE] [varchar](50) NULL,
	[DEFINE_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_AUTO_GENERATE_CODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTO_GENERATE_CODE_FOR_CUSTOMER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTO_GENERATE_CODE_FOR_CUSTOMER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUTO_GENERATE_CODE_FOR_PRODUCT] [varchar](50) NULL,
	[DEFINE_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_AUTO_GENERATE_CODE_FOR_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTO_GENERATE_CODE_FOR_LOYALTY]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTO_GENERATE_CODE_FOR_LOYALTY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUTO_GENERATE_CODE_FOR_LOYALTY] [varchar](50) NULL,
	[DEFINE_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_AUTO_GENERATE_CODE_FOR_LOYALTY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTO_GENERATE_CODE_FOR_PRODUCT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTO_GENERATE_CODE_FOR_PRODUCT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUTO_GENERATE_CODE_FOR_PRODUCT] [varchar](50) NULL,
	[DEFINE_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_AUTO_GENERATE_CODE_FOR_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTO_GENERATE_INVOICE_NO]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTO_GENERATE_INVOICE_NO](
	[INVOICE_NO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_NO] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_AUTO_GENERATE_INVOICE_NO] PRIMARY KEY CLUSTERED 
(
	[INVOICE_NO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BANK]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BANK](
	[BANK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NULL,
	[BANK_NAME] [varchar](50) NULL,
	[IFSC_CODE] [varchar](50) NULL,
	[IS_DELETED] [bit] NULL,
	[ADDRESS_1] [varchar](500) NULL,
	[ADDRESS_2] [varchar](500) NULL,
	[CITY] [varchar](500) NULL,
	[STATE] [varchar](500) NULL,
	[PIN_CODE] [varchar](50) NULL,
	[PHONE_NUMBER] [varchar](500) NULL,
	[MOBILE_NUMBER] [varchar](500) NULL,
	[FAX_NUMBER] [varchar](500) NULL,
	[EMAIL] [varchar](500) NULL,
	[WEBSITE] [varchar](500) NULL,
	[STATUS] [bit] NULL,
	[BANK_CODE] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_BANK] PRIMARY KEY CLUSTERED 
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BANK_ACCOUNT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BANK_ACCOUNT](
	[BANK_ACCOUNT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BANK_ID] [bigint] NULL,
	[COMPANY_ID] [bigint] NULL,
	[BRANCH_NAME] [varchar](50) NULL,
	[ACCOUNT_DESCRIPTION] [varchar](50) NULL,
	[ACCOUNT_SEARCH_CODE] [varchar](50) NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[PRINTING_FORMAT] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_BANK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[BANK_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BUSINESS_LOCATION]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BUSINESS_LOCATION](
	[BUSINESS_LOCATION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NULL,
	[SHOP_NAME] [varchar](100) NULL,
	[PREFIX_DOCUMENT] [varchar](100) NULL,
	[DOCUMENT_NO] [varchar](50) NULL,
	[TIN_NUMBER] [varchar](50) NULL,
	[BUSS_ADDRESS_1] [varchar](200) NULL,
	[BUSS_ADDRESS_2] [varchar](200) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[PIN] [varchar](50) NULL,
	[PHONE_NO] [varchar](12) NULL,
	[MOBILE_NO] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[WEBSITE] [varchar](200) NULL,
	[COMPANY] [varchar](50) NULL,
	[PRINTER_SETTING] [varchar](50) NULL,
	[SMS_SETTING] [varchar](50) NULL,
	[EMAIL_SETTING] [varchar](50) NULL,
	[EMAIL_TEMPLATE_SETTING] [varchar](50) NULL,
	[SCEOND_RECEIPT_PRINTER] [varchar](50) NULL,
	[SCEOND_RECEIPT_PRINT_FORMATE] [varchar](50) NULL,
	[NUMBER_OF_SECOND_RECEIPT_PRINT] [varchar](50) NULL,
	[GODOWN_TO_KEEP] [varchar](50) NULL,
	[IS_ENABLE_EMAIL] [bit] NULL,
	[IS_SCEOND_RECEIPT_PRINTER] [bit] NULL,
	[IS_SECOND_DIFF_PRINT] [bit] NULL,
	[IS_ASK_TO_PRIENT_EVERYTIME] [bit] NULL,
	[IS_DELETE_INVOICE_SPECIFIED_GODOWN] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[IMAGE] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_BUSINESS_LOCATION] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CASH_REG]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CASH_REG](
	[CASH_REG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CASH_REG] [varchar](50) NULL,
	[CASH_AMOUNT] [decimal](18, 2) NULL,
	[INVOICE_ID] [bigint] NULL,
	[CASH_REG_DATE] [datetime] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CASH_REG] PRIMARY KEY CLUSTERED 
(
	[CASH_REG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CATAGORY]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CATAGORY](
	[CATAGORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CATAGORY_NAME] [varchar](50) NULL,
	[BAR_CODE_PREFIX] [varchar](50) NULL,
	[CATAGORY_DEC] [varchar](50) NULL,
	[DISPLAY_INDEX] [varchar](50) NULL,
	[IS_NOT_PROTAL] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CATAGORY] PRIMARY KEY CLUSTERED 
(
	[CATAGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CHEQUE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CHEQUE](
	[CHEQUE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [bigint] NULL,
	[CHEQUE_AMOUNT] [decimal](18, 2) NULL,
	[CHEQUE_NO] [varchar](50) NULL,
	[CHEQUE_BRANCH] [varchar](50) NULL,
	[CHEQUE_DATE] [datetime] NULL,
	[CHEQUE_BANK_AC] [bigint] NULL,
	[CHAEQE_BANK_AC_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CHEQUE] PRIMARY KEY CLUSTERED 
(
	[CHEQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COMPANY]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COMPANY](
	[COMAPNY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_NAME] [varchar](500) NULL,
	[SHOPNAME] [varchar](500) NULL,
	[PREFIX] [varchar](50) NULL,
	[PREFIX_NUM] [varchar](50) NULL,
	[TIN_NUMBER] [varchar](100) NULL,
	[ADDRESS_1] [varchar](50) NULL,
	[ADDRESS_2] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](100) NULL,
	[COUNTRY] [varchar](100) NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[MOBILE_NUMBER] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[WEBSITE] [varchar](100) NULL,
	[IS_WARNED_FOR_NEGATIVE_STOCK] [bit] NULL,
	[IS_WARNED_FOR_LESS_SALES_PRICE] [bit] NULL,
	[TAX_PRINTED_DESCRIPTION] [varchar](50) NULL,
	[FIRST_DAY_OF_FINANCIAL_YEAR] [smallint] NULL,
	[FIRST_MONTH_OF_FINANCIAL_YEAR] [smallint] NULL,
	[BANK_ID] [bigint] NULL,
	[DEFAULT_TAX_RATE] [decimal](18, 2) NULL,
	[PIN] [varchar](50) NULL,
	[IMAGE_PATH] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_COMPANY] PRIMARY KEY CLUSTERED 
(
	[COMAPNY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CUSTOMER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMER](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](100) NULL,
	[LAST_NAME] [nvarchar](40) NULL,
	[CUSTOMER_NUMBER] [nvarchar](50) NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[SAMEBILLINGANDSHIPPING_ADDRESS] [bit] NULL,
	[NOTES] [varchar](1000) NULL,
	[VAT_NUMBER] [nvarchar](40) NULL,
	[CST_NUMBER] [nvarchar](40) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[DEFAULT_CREIT_LIMIT] [bit] NULL,
	[CUSTOMER_GROUP] [varchar](50) NULL,
	[LOYALTY_NO] [varchar](50) NULL,
	[REFERRED_BY] [varchar](50) NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_ENROLLED_FOR_LOYALITY] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[OPENING_BALANCE] [decimal](18, 2) NULL,
	[TIN_NUMBER] [varchar](50) NULL,
	[PAN_NUMBER] [varchar](50) NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[BUSINESS_LOCATION_ID] [bigint] NULL,
	[IMAGE_PATH] [varchar](500) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CUSTOMER_BILLING_ADDRESS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMER_BILLING_ADDRESS](
	[BILLING_ADRESS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[BILLING_TO_NAME] [varchar](100) NULL,
	[ADDRESS_1] [varchar](300) NULL,
	[ADDRESS_2] [varchar](200) NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](100) NULL,
	[COUNTRY] [varchar](100) NULL,
	[MOBILE] [nvarchar](14) NULL,
	[EMAIL] [nvarchar](40) NULL,
	[TELEPHONE] [nvarchar](20) NULL,
	[PIN] [varchar](50) NULL,
	[POSTAL_CODE] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CUSTOMER_BILLING_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[BILLING_ADRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CUSTOMER_GROUP]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMER_GROUP](
	[CUSTOMER_GROUP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CUSTOMER_GROUP] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CUSTOMER_SHIPPING_ADDRESS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CUSTOMER_SHIPPING_ADDRESS](
	[SHIPPING_ADRESS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[SHIPPING_TO_NAME] [varchar](100) NULL,
	[ADDRESS_1] [varchar](300) NULL,
	[ADDRESS_2] [varchar](200) NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](100) NULL,
	[POSTAL_CODE] [varchar](10) NULL,
	[COUNTRY] [varchar](100) NULL,
	[MOBILE] [nvarchar](14) NULL,
	[EMAIL] [nvarchar](40) NULL,
	[TELEPHONE] [nvarchar](20) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_CUSTOMER_SHIPPING_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[SHIPPING_ADRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DEPARTMENT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DEPARTMENT](
	[DEPARTMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [nvarchar](50) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [bigint] NULL,
	[STATUS] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[SORT_INDEX] [bigint] NULL,
 CONSTRAINT [PK_TBL_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_DESIGNATION]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DESIGNATION](
	[DESIGNATION_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESIGNATION_NAME] [nvarchar](50) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [bigint] NULL,
	[STATUS] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[SORT_INDEX] [bigint] NULL,
 CONSTRAINT [PK_TBL_DESIGNATION] PRIMARY KEY CLUSTERED 
(
	[DESIGNATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_EMPLOYEE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_EMPLOYEE](
	[EMPLOYEE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [varchar](50) NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[MIDDLE_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[MARITAL_STATUS] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[DATE_OF_JOIN] [datetime] NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[DEPARTMENT] [varchar](50) NULL,
	[EMPLOYEE_DESIGNATION] [varchar](50) NULL,
	[ADDRESS_1] [varchar](50) NULL,
	[ADDRESS_2] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[TELEPHONE_NO] [varchar](50) NULL,
	[FAX_NO] [varchar](50) NULL,
	[MOBILE_NO] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[WEBSITE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_REQUEST_VAI_SMS] [bit] NULL,
	[IS_APPROVE_ACCESS_VAI_SMS] [bit] NULL,
	[IS_NOT_AN_EMPLOYEE] [bit] NULL,
	[IS_APPOINTMENT] [bit] NULL,
	[IS_ATTACHED_INVOICE] [bit] NULL,
	[WORKING_SHIFT] [varchar](50) NULL,
	[MAX_SPOT_DISCOUNT] [decimal](18, 2) NULL,
	[IMAGE] [varchar](100) NULL,
	[SALES_PERCENT] [decimal](18, 2) NULL,
	[COMMISSION_QUICK_POSITION] [varchar](50) NULL,
	[PIN_NO] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK_TBL_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ESTIMATE1]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ESTIMATE1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTIMATE_NO] [varchar](50) NULL,
	[ITEM_ID] [int] NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[BARCODE] [varchar](50) NULL,
	[CURRENT_QTY] [int] NULL,
	[MEASURING_UNIT] [varchar](50) NULL,
	[TAX_NAME] [varchar](50) NULL,
	[TAX_PRICE] [decimal](18, 2) NULL,
	[DISCOUNT] [decimal](18, 2) NULL,
	[TOTAL_WITH_TAX] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[ESTIMATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TBL_ESTIMATE1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FINANCIAL]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FINANCIAL](
	[FINANCIAL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [bigint] NULL,
	[FINANCIAL_AMOUNT] [decimal](18, 2) NULL,
	[FINANCIAL_CREDIT_AC] [bigint] NULL,
	[FINANCIAL_CREDIT_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_FINANCIAL] PRIMARY KEY CLUSTERED 
(
	[FINANCIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GODOWN]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_GODOWN](
	[GODOWN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GODOWN_NAME] [varchar](50) NULL,
	[GOSOWN_DESCRIPTION] [varchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_DEFAULT_GODOWN] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_GODOWN] PRIMARY KEY CLUSTERED 
(
	[GODOWN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_INVOICE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_INVOICE](
	[INVOICE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_NUMBER] [varchar](50) NULL,
	[INVOICE_STATUS_ID] [int] NULL,
	[INVOICE_DATE] [datetime] NULL,
	[INVOICE_DUE_DATE] [datetime] NULL,
	[INVOICE_CUSTOMER_ID] [bigint] NULL,
	[INVOICE_COURIER_ID] [bigint] NULL,
	[INVOICE_COURIER_NAME] [varchar](100) NULL,
	[INVOICE_PAYMENT_ID] [bigint] NULL,
	[INVOICE_PO_NUMBER] [int] NULL,
	[INVOICE_TAX] [float] NULL,
	[INVOICE_TAX2] [float] NULL,
	[IS_PRINT_DUE_DATE] [datetime] NULL,
	[FREQUENCY_TYPE_ID] [int] NULL,
	[IS_RECCURANCE_INVOICE] [bit] NULL,
	[INTERVAL] [int] NULL,
	[NEXT_INVOICE_DATE] [datetime] NULL,
	[FINAL_INVOICE_DATE] [datetime] NULL,
	[IS_RECUR_UNTIL_VOIDED] [bit] NULL,
	[GENERATE_NEW_INVOICE] [int] NULL,
	[IS_QUOTE] [bit] NULL,
	[VALID_UNTIL] [datetime] NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_INVOICE_PAY]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_INVOICE_PAY](
	[INVOICE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_NO] [varchar](50) NULL,
	[INVOICE_DATE] [datetime] NULL,
	[CUSTOMER] [varchar](50) NULL,
	[CUSTOMER_ID] [int] NULL,
	[AVAILABLE_CREDIT_LIMIT] [decimal](18, 2) NULL,
	[SALES_EXECUTIVE] [varchar](50) NULL,
	[SALES_EXECUTIVE_ID] [bigint] NULL,
	[CUSTOMER_EMAIL] [varchar](50) NULL,
	[CUSTOMER_MOBILE_NO] [varchar](50) NULL,
	[BEFORE_ROUNDOFF] [decimal](18, 2) NULL,
	[ROUNDOFF_AMOUNT] [int] NULL,
	[TOTAL_AMOUNT] [int] NULL,
	[QUANTITY_TOTAL] [int] NULL,
	[NUMBER_OF_ITEM] [int] NULL,
	[DISCOUNT_INCLUDED] [decimal](18, 2) NULL,
	[TAX_INCLUDED] [decimal](18, 2) NULL,
	[RECIVED_AMOUNT] [decimal](18, 2) NULL,
	[RETURNABLE_AMOUNT] [decimal](18, 2) NULL,
	[COMMISION_EXPENSE] [decimal](18, 2) NULL,
	[PENDING_AMOUNT] [decimal](18, 2) NULL,
	[NOTE] [varchar](50) NULL,
	[IS_GOODS_DELIVERED] [bit] NULL,
	[IS_PRINT] [bit] NULL,
	[IS_SAVE_RETURNABLE_AMOUNT] [bit] NULL,
	[USER_ID] [bigint] NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[BUSINESS_LOCATION_ID] [bigint] NULL,
	[BUSINESS_LOCATION_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_INVOICE_PAY] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ITEMS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ITEMS](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_NAME] [varchar](100) NULL,
	[ITEM_DESCRIPTION] [varchar](500) NULL,
	[ITEM_PRICE] [float] NULL,
	[ITEM_INVOICE_ID] [int] NULL,
	[ITEM_PRODUCT_ID] [int] NULL,
	[KEYWORD] [varchar](50) NULL,
	[ACCESSORIES_KEYWORD] [varchar](50) NULL,
	[BARCODE] [varchar](50) NULL,
	[CATAGORY_ID] [bigint] NULL,
	[SERCH_CODE] [nchar](10) NULL,
	[PURCHASE_UNIT] [varchar](50) NULL,
	[SALES_UNIT] [varchar](50) NULL,
	[PURCHASE_UNIT_PRICE] [decimal](18, 2) NULL,
	[SALES_PRICE] [decimal](18, 2) NULL,
	[MRP] [decimal](18, 2) NULL,
	[COMPANY_ID] [int] NULL,
	[OPN_QNT] [int] NULL,
	[CATEGORY_NAME] [varchar](35) NULL,
	[DISPLAY_INDEX] [varchar](50) NULL,
	[ITEM_UNIQUE_NAME] [varchar](50) NULL,
	[ITEM_GROUP_NAME] [varchar](50) NULL,
	[REGIONAL_LANGUAGE] [varchar](50) NULL,
	[SALES_PRICE_BEFOR_TAX] [decimal](18, 2) NULL,
	[MODIFICATION_DATE] [datetime] NULL,
	[CATAGORY] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[ITEM_LOCATION] [varchar](50) NULL,
	[WEIGHT_OF_PAPER] [decimal](18, 2) NULL,
	[WEIGHT_OF_PLASTIC] [decimal](18, 2) NULL,
	[WEIGHT_OF_FOAM] [decimal](18, 2) NULL,
	[WEIGHT_OF_CARDBOARD] [decimal](18, 2) NULL,
	[IMAGE_PATH] [varchar](100) NULL,
	[USER_ID] [bigint] NULL,
	[TAX_COLLECTED] [decimal](18, 2) NULL,
	[TAX_PAID] [decimal](18, 2) NULL,
	[TAX_COLLECTED_NAME] [varchar](50) NULL,
	[TAX_PAID_NAME] [varchar](50) NULL,
	[SALE_UNIT_ID] [int] NULL,
	[PURCHAGE_UNIT_ID] [int] NULL,
	[GODOWN_ID] [int] NULL,
	[BUSS_LOC_ID] [int] NULL,
	[TAX_PAID_ID] [int] NULL,
	[TAX_COLLECTED_ID] [int] NULL,
	[IS_ACIVE] [bit] NULL,
	[INCLUDE_TAX] [bit] NULL,
 CONSTRAINT [PK_TBL_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ITEMS_ATTRIBUTE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ITEMS_ATTRIBUTE](
	[ATTRIBUTE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [bigint] NULL,
	[IS_ACTIVE] [bit] NULL,
	[NOT_FOR_SALE] [bit] NULL,
	[IS_PURCHASED] [bit] NULL,
	[IS_SERVICE] [bit] NULL,
	[IS_GIFT_CARD] [bit] NULL,
	[ONLY_ONLINE_SHOP] [bit] NULL,
	[NOT_FOR_ONLINE_SHOP] [bit] NULL,
	[ALLOW_PURCHASE_ON_ESHOP] [bit] NULL,
	[INCLUDE_TAX] [bit] NULL,
	[IS_SORTABLE_ITEM] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [TBL_ITEM_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[ATTRIBUTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LOYALTY]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_LOYALTY](
	[LOYALTY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SETTINGSNAME] [varchar](50) NULL,
	[WEIGHTAGE] [varchar](50) NULL,
	[FROMDATE] [datetime] NULL,
	[TODATE] [datetime] NULL,
	[CUSTOMERGROUP] [varchar](50) NULL,
	[COLLECTION] [varchar](50) NULL,
	[ISACTIVE] [bit] NULL,
	[ISDEFAULT] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_LOYALTI] PRIMARY KEY CLUSTERED 
(
	[LOYALTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_NEWCASHREGISTER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NEWCASHREGISTER](
	[CASH_REGISTERID] [bigint] IDENTITY(1,1) NOT NULL,
	[BUSINESS_LOCATION] [varchar](100) NULL,
	[CASH_REG_NO] [bigint] NULL,
	[CASH_REG_NAME] [varchar](100) NULL,
	[CASH_REG_PREFIX] [varchar](100) NULL,
	[IS_ADGUSTMENT] [bit] NULL,
	[LOGIN] [varchar](50) NULL,
	[IS_MAIN_CASH] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_NEWCASHREGISTER] PRIMARY KEY CLUSTERED 
(
	[CASH_REGISTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OPENING_BALANCE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OPENING_BALANCE](
	[OPENING_BALANCE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[DATE] [datetime] NULL,
	[BAL_TYPE_ID] [bigint] NULL,
	[OPENING_AMT] [decimal](18, 2) NULL,
	[CLOSING_AMT] [decimal](18, 2) NULL,
	[SYSTEM_DATE] [datetime] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[BAL_TYPE_VALUE] [varchar](50) NULL,
	[CURRENT_OPENING_BALANCE] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBL_OPENING_BALANCE] PRIMARY KEY CLUSTERED 
(
	[OPENING_BALANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_OPENING_STOCK]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_OPENING_STOCK](
	[OPENING_STOCK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NULL,
	[ITEM_ID] [bigint] NULL,
	[BUSINESS_LOC_ID] [bigint] NULL,
	[COMPANY_ID] [bigint] NULL,
	[OPRNING_BAL] [decimal](18, 2) NULL,
	[CLOSING_BAL] [decimal](18, 2) NULL,
	[BARCODE] [varchar](50) NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[GODOWN] [varchar](50) NULL,
	[COMPANY_NAME] [varchar](50) NULL,
	[OPN_QNT] [int] NULL,
	[BUSSINESS_LOCATION] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OPENING_STOCK] PRIMARY KEY CLUSTERED 
(
	[OPENING_STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ORDER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ORDER](
	[ORDER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [bigint] NULL,
	[ORDER_QUANTITY] [int] NULL,
	[DISCOUNT] [float] NULL,
	[ODER_COST] [float] NULL,
	[IS_DISCOUNT_IN_PERCENTAGE] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PAYMENT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PAYMENT](
	[PAYMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_TYPE_ID] [int] NULL,
	[PAYMENT_INVOICE_ID] [bigint] NULL,
	[PAYMENT_AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[REFERENCE_NUMBER] [varchar](50) NULL,
	[PAYMENT_NOTES] [varchar](500) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PO]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PO](
	[PO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PO_NUMBER] [varchar](50) NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[IS_SEND_MAIL] [bit] NULL,
	[BAR_CODE] [varchar](50) NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[DELIVER_ID] [varchar](50) NULL,
	[SUPPLIER_ID] [varchar](50) NULL,
	[BUSINESS_LOCATION_ID] [varchar](50) NULL,
	[DELIVER_TO] [varchar](50) NULL,
	[SUPPLIER_EMAIL] [varchar](50) NULL,
	[TERMS] [varchar](50) NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[IS_DELETE] [bit] NULL,
	[PO_DATE] [datetime] NULL,
	[BUSSINESS_ID] [bigint] NULL,
	[ITEM_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_PO] PRIMARY KEY CLUSTERED 
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PURCHASE_ORDERS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PURCHASE_ORDERS](
	[PO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PO_NUMBER] [varchar](50) NULL,
	[BUSINESS_LOCATION_ID] [bigint] NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[SUPPLIER_ID] [bigint] NULL,
	[DELIVERY_TO] [varchar](50) NULL,
	[BAR_CODE] [varchar](50) NULL,
	[ITEM_ID] [bigint] NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[SEARCH_WITH_STOCK] [varchar](50) NULL,
	[TERMAS_AND_CONDITIONS] [varchar](200) NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_PURCHASE_ORDERS] PRIMARY KEY CLUSTERED 
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_RECEIVE_ITEM]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_RECEIVE_ITEM](
	[NEWRECEIVE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NULL,
	[SELECT_BUSINESS_LOCATION_ID] [bigint] NULL,
	[BARCODE] [varchar](50) NULL,
	[ITEM_NAME] [varchar](100) NULL,
	[SEARCH_CODE] [varchar](100) NULL,
	[SUPPLIER_INVOICE_NO] [varchar](100) NULL,
	[SUPPLIER_INVOICE_DATE] [date] NULL,
	[RECEIVE_DATE] [date] NULL,
	[RECEIVED_ITEM_ON_DATE] [date] NULL,
	[PO_NUMBER_ID] [bigint] NULL,
	[SUPPLIER_ID] [bigint] NULL,
	[PAYMENT_TERMS] [int] NULL,
	[GODOWN_ID] [bigint] NULL,
	[RECEIVING_EMPLOYEE] [varchar](100) NULL,
	[DISCOUNT_FLAT] [decimal](18, 2) NULL,
	[DISCOUNT_PERCENT] [decimal](18, 2) NULL,
	[ADDTIONAL_CHARGES] [decimal](18, 2) NULL,
	[SUB_TOTAL_BEFORETAX] [decimal](18, 2) NULL,
	[TOTAL_TAX_AMT] [decimal](18, 2) NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[ROUND_OFF_ADJUSTMENTAMT] [decimal](18, 2) NULL,
	[TOTAL_AMT] [decimal](18, 2) NULL,
	[USE_SUPPLIER_ADVANCE_AMT] [decimal](18, 2) NULL,
	[GRAND_TOTAL] [decimal](18, 2) NULL,
	[NOTE] [varchar](200) NULL,
	[IS_REC_WITH_PO] [bit] NULL,
	[FILTER_HIERARCHY] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[PO_NUMBER] [varchar](50) NULL,
	[SUPPLIER] [varchar](50) NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[GODOWN] [varchar](50) NULL,
	[DISCOUNT_BEFOR_TAX] [bit] NULL,
	[AUTO_SAVE_IN_DRAFT] [bit] NULL,
	[FOCUS_LAST_ADD_ITEM] [bit] NULL,
	[ITEM_ENTRY_TEMPLATE] [bit] NULL,
	[PAY_IN_CASH] [bit] NULL,
	[APPLY_FPR_EFFECTVE_PRICE] [bit] NULL,
	[INVOICE_DIS_AMT] [decimal](18, 2) NULL,
	[RECEIVED_ITEM_ENTRY_NO] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_RECEIVE_ITEM] PRIMARY KEY CLUSTERED 
(
	[NEWRECEIVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_RECEIVE_PAYMENT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_RECEIVE_PAYMENT](
	[RECEIVE_PAYMENT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RECEIVE_PAY_NO] [varchar](50) NULL,
	[BUSINESS_LOCATION_ID] [bigint] NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[DATE] [datetime] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[CUSTOMER] [varchar](50) NULL,
	[CUSTOMER_EMAIL] [varchar](50) NULL,
	[IS_EMAIL_SEND] [bit] NULL,
	[CUSTOMER_CONTACT_NO] [varchar](50) NULL,
	[OTHER_PAY_AMT] [decimal](18, 2) NULL,
	[CURRENT_PAY_AMT] [decimal](18, 2) NULL,
	[TOTAL_SELECTED_PAY_AMT] [decimal](18, 2) NULL,
	[PENDING_AMT] [decimal](18, 2) NULL,
	[TOTAL_REC_AMT] [decimal](18, 2) NULL,
	[RETURNABLE_AMT] [decimal](18, 2) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_RECEIVE_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[RECEIVE_PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_REPORT_ADD]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_REPORT_ADD](
	[REPORT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[REPORT_GROUP_ID] [bigint] NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[REPORT_NAME] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_REPORT_ADD] PRIMARY KEY CLUSTERED 
(
	[REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_REPORT_GROUP]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_REPORT_GROUP](
	[REPORT_GRP_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[DATE] [datetime] NULL,
	[REPORT_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[CREATED_BY] [bigint] NULL,
	[SGROUP_CODE] [bigint] NULL,
	[REPORT_NAME] [varchar](50) NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_REPORT_GROUP] PRIMARY KEY CLUSTERED 
(
	[REPORT_GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SALE_ITEM]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SALE_ITEM](
	[SALE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SALE_ITEM_ID] [int] NULL,
	[INVOICE_ID] [int] NULL,
	[ITEM_DISCOUNT] [decimal](18, 2) NULL,
	[ITEM_TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[SALE_QTY] [int] NULL,
	[ITEM_TAX] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBL_SALE_ITEM] PRIMARY KEY CLUSTERED 
(
	[SALE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_SALES_RETURN]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SALES_RETURN](
	[SALES_RETURN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[SALES_RETURN_NO] [varchar](50) NULL,
	[BARCODE] [varchar](50) NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[IS_WITHOUT_INVOICE] [bit] NULL,
	[RETURN_DATE] [datetime] NULL,
	[GODOWN] [varchar](50) NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[OUTSTANDING_BALANCE] [decimal](18, 2) NULL,
	[INVOICE_NO] [varchar](50) NULL,
	[REFERENCE_NUMBER] [varchar](50) NULL,
	[TAX_AMOUNT] [decimal](18, 2) NULL,
	[FREIGHT_CHARGE] [decimal](18, 2) NULL,
	[PACKING_CHARGE] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[ROUND_OFF_AMOUNT] [int] NULL,
	[GRAND_TOTAL] [decimal](18, 2) NULL,
	[SUBSIDY_AMOUN] [decimal](18, 2) NULL,
	[CUS_PENDING_AMOUNT] [decimal](18, 2) NULL,
	[NOTES] [varchar](100) NULL,
	[COMPANY_ID] [bigint] NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[SALES_EXECUTIVE] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_SALES_RETURN] PRIMARY KEY CLUSTERED 
(
	[SALES_RETURN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_STOCK_TRANSFER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_STOCK_TRANSFER](
	[STOCK_TRANSFER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STOCK_TRANSFER_NUMBER] [varchar](50) NULL,
	[DATE] [datetime] NULL,
	[EMAIL] [varchar](50) NULL,
	[IS_SEND] [bit] NULL,
	[ITEM_ID] [bigint] NOT NULL,
	[TRANS_QUANTITY] [int] NOT NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[BARCODE] [varchar](50) NULL,
	[TOTAL_STOCK_QNT] [int] NULL,
	[COMPANY_ID] [bigint] NULL,
	[FROM_GODOWN] [varchar](50) NULL,
	[TO_GODOW] [varchar](50) NULL,
	[RECEIVED_BY] [varchar](50) NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[FROM_GODOWN_ID] [bigint] NULL,
	[TO_GODOWN_ID] [bigint] NULL,
	[RECEIVED_BY_ID] [bigint] NULL,
	[BUSINESS_LOCATION_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_NEGATIVE_STOCK_MESSAGE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_STOCK_TRANSFER] PRIMARY KEY CLUSTERED 
(
	[STOCK_TRANSFER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SUPP_PAYMENT]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SUPP_PAYMENT](
	[SUPP_PAYMENT] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPP_EMAIL] [varchar](50) NULL,
	[SUPP_SMS] [varchar](50) NULL,
	[IS_SEND_EMAIL] [bit] NULL,
	[IS_SEND_SMS] [bit] NULL,
	[CURRENT_ADV_AMT] [decimal](18, 2) NULL,
	[TOTAL_RIE_AMT] [decimal](18, 2) NULL,
	[PENDING_AMT] [decimal](18, 2) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[CURRENT_PAYABLE_AMT] [decimal](18, 2) NULL,
	[TOTAL_PANDING] [decimal](18, 2) NULL,
	[SELECTED_AMT] [decimal](18, 2) NULL,
	[PENDING_AFTE_PAYMENT] [decimal](18, 2) NULL,
	[CASH_REG_AMT] [decimal](18, 2) NULL,
	[CHEQUE_AMT] [decimal](18, 2) NULL,
	[CHEQUE_NO] [varchar](50) NULL,
	[CHEQUE_BANK_BRANCH] [varchar](50) NULL,
	[CHEQUE_BANK_AC] [varchar](50) NULL,
	[CHEQUE_DATE] [datetime] NULL,
	[TRANSFER_AMT] [decimal](18, 2) NULL,
	[TRANSFER_BANK_BRANCH] [varchar](50) NULL,
	[TRANSFER_BANK_AC] [bigint] NULL,
	[TRANSFER_DATE] [datetime] NULL,
	[FINANCAL_AMT] [decimal](18, 2) NULL,
	[FINACIAL_AC] [bigint] NULL,
	[DISCOUNT_FLAT] [int] NULL,
	[DISCOUNT_PERCENT] [int] NULL,
	[TOTAL_PAYMENT_MODES] [int] NULL,
	[CURRENT_PAYMENT] [decimal](18, 2) NULL,
	[NOTE] [varchar](100) NULL,
	[COMPANY_ID] [bigint] NULL,
	[CASH_REG] [varchar](50) NULL,
	[SUPP] [varchar](50) NULL,
	[BUSINESS_LOCATION] [varchar](50) NULL,
	[PAYMENT_NUMBER] [varchar](50) NULL,
	[SUPP_ID] [bigint] NULL,
	[CASH_REG_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_PRINT_CHECK] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_SUPP_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[SUPP_PAYMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_SUPPLIER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_SUPPLIER](
	[SUPPLIER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_CODE] [varchar](50) NULL,
	[SUPPLIER_NAME] [varchar](50) NULL,
	[SEARCH_CODE] [varchar](50) NULL,
	[VAT_NO] [varchar](50) NULL,
	[CST_NO] [varchar](50) NULL,
	[TIN_NO] [varchar](50) NULL,
	[PAN_NO] [varchar](50) NULL,
	[ADDRESS_1] [varchar](50) NULL,
	[ADDRESS_2] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[ZIP_CODE] [varchar](50) NULL,
	[OPENING_BALANCE] [decimal](18, 2) NULL,
	[IS_PREFERRED_SUPPLIER] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[PAYMENT_SETTLED] [int] NULL,
	[IMAGE_PATH] [varchar](100) NULL,
	[CONTACT_FRIST_NAME] [varchar](50) NULL,
	[CONTACT_LAST_NAME] [varchar](50) NULL,
	[CONTACT_TELEPHONE_NO] [varchar](50) NULL,
	[CONTACT_FAX_NO] [varchar](50) NULL,
	[CONTACT_MOBILE_NO] [varchar](50) NULL,
	[CONTACT_WEBSITE] [varchar](50) NULL,
	[CONTACT_EMAIL] [varchar](50) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TAX]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TAX](
	[TAX_ID] [int] IDENTITY(1,1) NOT NULL,
	[TAX_NAME] [varchar](50) NULL,
	[TAX_VALUE] [decimal](18, 2) NULL,
	[COMPANY_ID] [bigint] NULL,
	[IS_SEPARATE] [bit] NULL,
	[IS_DELETE] [bit] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_TAX] PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_TRANSFER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TRANSFER](
	[BANK_TRANSFER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [bigint] NULL,
	[TRANSFER_AMOUNT] [decimal](18, 2) NULL,
	[TRANSFER_BANK_AC] [bigint] NULL,
	[TRANSFER_BRANCH] [varchar](50) NULL,
	[TRANSFER_BANK_ID] [bigint] NULL,
	[TRANSFER_DATE] [datetime] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_TRANSFER] PRIMARY KEY CLUSTERED 
(
	[BANK_TRANSFER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_UNIT_MEASURING]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_UNIT_MEASURING](
	[UNIT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MEASURING_NAME] [varchar](50) NULL,
	[SHORT_INDAX] [varchar](50) NULL,
	[IMAGE_PATH] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[COMPANY_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
 CONSTRAINT [PK_TBL_UNIT_MEASURING] PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[COMPANY_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[LOGIN_TIME] [timestamp] NULL,
	[MAC_ADDRESS] [nvarchar](50) NULL,
	[ROLE] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_VENDORS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_VENDORS](
	[VENDOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [bigint] NULL,
	[CONTACT_NAME] [varchar](300) NULL,
	[ADDRESS_1] [varchar](500) NULL,
	[ADDRESS_2] [varchar](500) NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](100) NULL,
	[POSTAL] [varchar](10) NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[EAX_NUMBER] [varchar](50) NULL,
	[EMAIL_ADDRESS] [varchar](100) NULL,
	[WEB_SITE] [varchar](100) NULL,
	[CREDIT_LIMIT] [float] NULL,
	[SUPPLIER_CODE] [nvarchar](15) NULL,
	[VAT_NUMBER] [nvarchar](20) NULL,
	[CST_NUMBER] [nvarchar](20) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_PREFERRED] [bit] NULL,
	[PAYMENT_DAYS] [int] NULL,
	[LAST_NAME] [varchar](250) NULL,
	[TELEPHONE_NUMBER] [nvarchar](20) NULL,
	[IMAGE_PATH] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_VENDORS] PRIMARY KEY CLUSTERED 
(
	[VENDOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tmp_invoice]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tmp_invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Time] [datetime] NULL,
	[Items] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
	[Total_Amt] [decimal](18, 2) NULL,
	[Tax_Desc] [varchar](50) NULL,
	[Taxable_Amt] [decimal](18, 2) NULL,
	[Vat/Tax] [decimal](18, 2) NULL,
	[Priceinwords] [varchar](100) NULL,
	[Inv_No] [varchar](50) NULL,
 CONSTRAINT [PK_tmp_invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_EMP_MODULE_ACCESS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_EMP_MODULE_ACCESS]
AS
SELECT        dbo.MODULE.MODULE_NAME, dbo.MODULE.MODULE_ID, CASE WHEN dbo.[AUTHORIZATION].ACTION_CREATE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_CREATE END AS ACTION_CREATE, 
                         CASE WHEN dbo.[AUTHORIZATION].EDIT IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].EDIT END AS EDIT, CASE WHEN dbo.[AUTHORIZATION].ACTION_DELETE IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_DELETE END AS ACTION_DELETE, CASE WHEN dbo.[AUTHORIZATION].ACTION_VIEW IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_VIEW END AS ACTION_VIEW, CASE WHEN dbo.[AUTHORIZATION].VERIFICATION IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].VERIFICATION END AS VERIFICATION, CASE WHEN dbo.[AUTHORIZATION].NOTIFICATION IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].NOTIFICATION END AS NOTIFICATION, CASE WHEN dbo.[AUTHORIZATION].MESSAGE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].MESSAGE END AS MESSAGE, 
                         CASE WHEN dbo.[AUTHORIZATION].APPROVE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].APPROVE END AS APPROVE, dbo.[AUTHORIZATION].ROLE_ID, 
                         CASE WHEN dbo.[AUTHORIZATION].MAILBACK IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].MAILBACK END AS MAILBACK, dbo.[AUTHORIZATION].ID, dbo.[AUTHORIZATION].MODIFIED_DATE, 
                         dbo.[AUTHORIZATION].User_Id, dbo.[AUTHORIZATION].Company_Id, CASE WHEN dbo.[AUTHORIZATION].IMORT_TO_EXCEL IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].IMORT_TO_EXCEL END AS IMORT_TO_EXCEL, CASE WHEN dbo.[AUTHORIZATION].EXPT_TO_EXCEL IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].EXPT_TO_EXCEL END AS EXPT_TO_EXCEL
FROM            dbo.[AUTHORIZATION] RIGHT OUTER JOIN
                         dbo.MODULE ON dbo.[AUTHORIZATION].MODULE_ID = dbo.MODULE.MODULE_ID




GO
/****** Object:  View [dbo].[MODULE_RIGHTS]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MODULE_RIGHTS]
AS
SELECT        dbo.VW_EMP_MODULE_ACCESS.MODULE_NAME, dbo.VW_EMP_MODULE_ACCESS.MODULE_ID, dbo.VW_EMP_MODULE_ACCESS.ACTION_CREATE, dbo.VW_EMP_MODULE_ACCESS.EDIT, 
                         dbo.VW_EMP_MODULE_ACCESS.ACTION_DELETE, dbo.VW_EMP_MODULE_ACCESS.ACTION_VIEW, dbo.VW_EMP_MODULE_ACCESS.VERIFICATION, dbo.VW_EMP_MODULE_ACCESS.NOTIFICATION, 
                         dbo.VW_EMP_MODULE_ACCESS.MESSAGE, dbo.VW_EMP_MODULE_ACCESS.APPROVE, dbo.VW_EMP_MODULE_ACCESS.ROLE_ID, dbo.VW_EMP_MODULE_ACCESS.MAILBACK, 
                         dbo.VW_EMP_MODULE_ACCESS.ID, dbo.VW_EMP_MODULE_ACCESS.MODIFIED_DATE, dbo.VW_EMP_MODULE_ACCESS.User_Id, dbo.VW_EMP_MODULE_ACCESS.Company_Id, 
                         dbo.VW_EMP_MODULE_ACCESS.IMORT_TO_EXCEL, dbo.VW_EMP_MODULE_ACCESS.EXPT_TO_EXCEL, dbo.TBL_EMPLOYEE.EMPLOYEE_ID
FROM            dbo.TBL_EMPLOYEE RIGHT OUTER JOIN
                         dbo.VW_EMP_MODULE_ACCESS ON dbo.TBL_EMPLOYEE.EMPLOYEE_ID = dbo.VW_EMP_MODULE_ACCESS.User_Id




GO
/****** Object:  View [dbo].[VIEW_GROUP_SUBGROUP]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_GROUP_SUBGROUP]
AS
SELECT        TOP (100) PERCENT dbo.TBL_REPORT_GROUP.REPORT_GRP_ID, d.GROUP_NAME AS GroupName, d.REPORT_GRP_ID AS ParentId, dbo.TBL_REPORT_GROUP.REPORT_ID, d.REPORT_ID AS Child
FROM            dbo.TBL_REPORT_GROUP RIGHT OUTER JOIN
                         dbo.TBL_REPORT_GROUP AS d ON dbo.TBL_REPORT_GROUP.REPORT_GRP_ID = d.REPORT_GRP_ID AND dbo.TBL_REPORT_GROUP.REPORT_GRP_ID = d.REPORT_ID





GO
/****** Object:  View [dbo].[VIEW_INVOICE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_INVOICE]
AS
SELECT        dbo.TBL_INVOICE_PAY.INVOICE_NO, dbo.TBL_INVOICE_PAY.INVOICE_DATE, dbo.TBL_INVOICE_PAY.CUSTOMER, dbo.TBL_INVOICE_PAY.CUSTOMER_ID, 
                         dbo.TBL_INVOICE_PAY.AVAILABLE_CREDIT_LIMIT, dbo.TBL_INVOICE_PAY.SALES_EXECUTIVE, dbo.TBL_INVOICE_PAY.SALES_EXECUTIVE_ID, 
                         dbo.TBL_INVOICE_PAY.CUSTOMER_EMAIL, dbo.TBL_INVOICE_PAY.CUSTOMER_MOBILE_NO, dbo.TBL_INVOICE_PAY.BEFORE_ROUNDOFF, 
                         dbo.TBL_INVOICE_PAY.ROUNDOFF_AMOUNT, dbo.TBL_INVOICE_PAY.TOTAL_AMOUNT, dbo.TBL_INVOICE_PAY.QUANTITY_TOTAL, 
                         dbo.TBL_INVOICE_PAY.NUMBER_OF_ITEM, dbo.TBL_INVOICE_PAY.DISCOUNT_INCLUDED, dbo.TBL_INVOICE_PAY.TAX_INCLUDED, 
                         dbo.TBL_INVOICE_PAY.RECIVED_AMOUNT, dbo.TBL_INVOICE_PAY.RETURNABLE_AMOUNT, dbo.TBL_INVOICE_PAY.COMMISION_EXPENSE, 
                         dbo.TBL_INVOICE_PAY.PENDING_AMOUNT, dbo.TBL_INVOICE_PAY.NOTE, dbo.TBL_INVOICE_PAY.IS_GOODS_DELIVERED, dbo.TBL_INVOICE_PAY.IS_PRINT, 
                         dbo.TBL_INVOICE_PAY.IS_SAVE_RETURNABLE_AMOUNT, dbo.TBL_INVOICE_PAY.USER_ID, dbo.TBL_TRANSFER.TRANSFER_AMOUNT, 
                         dbo.TBL_CHEQUE.CHEQUE_AMOUNT, dbo.TBL_CHEQUE.CHEQUE_NO, dbo.TBL_CHEQUE.CHEQUE_BRANCH, dbo.TBL_CASH_REG.CASH_AMOUNT, 
                         dbo.TBL_FINANCIAL.FINANCIAL_AMOUNT, dbo.TBL_FINANCIAL.FINANCIAL_CREDIT_AC, dbo.TBL_FINANCIAL.FINANCIAL_CREDIT_ID, 
                         dbo.TBL_CASH_REG.CASH_REG_DATE, dbo.TBL_CASH_REG.CASH_REG, dbo.TBL_CHEQUE.CHEQUE_DATE, dbo.TBL_CHEQUE.CHEQUE_BANK_AC, 
                         dbo.TBL_CHEQUE.CHAEQE_BANK_AC_ID, dbo.TBL_TRANSFER.TRANSFER_DATE, dbo.TBL_TRANSFER.TRANSFER_BANK_ID, 
                         dbo.TBL_TRANSFER.TRANSFER_BRANCH, dbo.TBL_TRANSFER.TRANSFER_BANK_AC, dbo.TBL_INVOICE_PAY.INVOICE_ID, 
                         dbo.TBL_INVOICE_PAY.TOTAL_TAX
FROM            dbo.TBL_INVOICE_PAY LEFT OUTER JOIN
                         dbo.TBL_TRANSFER ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_TRANSFER.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_CHEQUE ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_CHEQUE.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_CASH_REG ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_CASH_REG.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_FINANCIAL ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_FINANCIAL.INVOICE_ID



GO
/****** Object:  View [dbo].[View_ITEM_ATTRIBUTE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ITEM_ATTRIBUTE]
AS
SELECT        dbo.TBL_ITEMS.ITEM_ID, dbo.TBL_ITEMS.ITEM_NAME, dbo.TBL_ITEMS.ITEM_DESCRIPTION, dbo.TBL_ITEMS.ITEM_PRICE, dbo.TBL_ITEMS.ITEM_PRODUCT_ID, dbo.TBL_ITEMS.ITEM_INVOICE_ID, 
                         dbo.TBL_ITEMS.KEYWORD, dbo.TBL_ITEMS.ACCESSORIES_KEYWORD, dbo.TBL_ITEMS.BARCODE, dbo.TBL_ITEMS.CATAGORY_ID, dbo.TBL_ITEMS.SERCH_CODE, dbo.TBL_ITEMS.TAX_PAID, 
                         dbo.TBL_ITEMS.TAX_COLLECTED, dbo.TBL_ITEMS.PURCHASE_UNIT, dbo.TBL_ITEMS.SALES_UNIT, dbo.TBL_ITEMS.PURCHASE_UNIT_PRICE, dbo.TBL_ITEMS.SALES_PRICE, dbo.TBL_ITEMS.MRP, 
                         dbo.TBL_ITEMS.COMPANY_ID, dbo.TBL_ITEMS.OPN_QNT, dbo.TBL_ITEMS.CATEGORY_NAME, dbo.TBL_ITEMS.DISPLAY_INDEX, dbo.TBL_ITEMS.ITEM_UNIQUE_NAME, dbo.TBL_ITEMS.ITEM_GROUP_NAME, 
                         dbo.TBL_ITEMS.REGIONAL_LANGUAGE, dbo.TBL_ITEMS.SALES_PRICE_BEFOR_TAX, dbo.TBL_ITEMS.MODIFICATION_DATE, dbo.TBL_ITEMS.CATAGORY, dbo.TBL_ITEMS.IS_DELETE, 
                         dbo.TBL_ITEMS.ITEM_LOCATION, dbo.TBL_ITEMS.WEIGHT_OF_PAPER, dbo.TBL_ITEMS.WEIGHT_OF_PLASTIC, dbo.TBL_ITEMS.WEIGHT_OF_FOAM, dbo.TBL_ITEMS.WEIGHT_OF_CARDBOARD, 
                         dbo.TBL_ITEMS.IMAGE_PATH, dbo.TBL_OPENING_STOCK.DATE, dbo.TBL_OPENING_STOCK.GODOWN, dbo.TBL_COMPANY.COMPANY_NAME, dbo.TBL_OPENING_STOCK.BUSSINESS_LOCATION, 
                         dbo.TBL_OPENING_STOCK.OPENING_STOCK_ID, dbo.TBL_ITEMS.TAX_PAID_NAME, dbo.TBL_ITEMS.TAX_COLLECTED_NAME, dbo.TBL_ITEMS.TAX_COLLECTED_ID, dbo.TBL_ITEMS.TAX_PAID_ID, 
                         dbo.TBL_ITEMS.BUSS_LOC_ID, dbo.TBL_ITEMS.GODOWN_ID, dbo.TBL_ITEMS.PURCHAGE_UNIT_ID, dbo.TBL_ITEMS.SALE_UNIT_ID, dbo.TBL_ITEMS.IS_ACIVE, dbo.TBL_ITEMS.INCLUDE_TAX, 
                         dbo.TBL_TAX.TAX_NAME, dbo.TBL_TAX.TAX_VALUE
FROM            dbo.TBL_TAX RIGHT OUTER JOIN
                         dbo.TBL_ITEMS ON dbo.TBL_TAX.TAX_ID = dbo.TBL_ITEMS.TAX_COLLECTED_ID RIGHT OUTER JOIN
                         dbo.TBL_OPENING_STOCK ON dbo.TBL_ITEMS.ITEM_ID = dbo.TBL_OPENING_STOCK.ITEM_ID LEFT OUTER JOIN
                         dbo.TBL_COMPANY ON dbo.TBL_ITEMS.CATAGORY_ID = dbo.TBL_COMPANY.COMAPNY_ID

GO
/****** Object:  View [dbo].[View_STOCK_SEARCH]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_STOCK_SEARCH]
AS
SELECT        dbo.TBL_ITEMS.*, dbo.TBL_STOCK_TRANSFER.TRANS_QUANTITY, dbo.TBL_STOCK_TRANSFER.EMAIL, dbo.TBL_STOCK_TRANSFER.IS_SEND, dbo.TBL_STOCK_TRANSFER.RECEIVED_BY_ID, 
                         dbo.TBL_STOCK_TRANSFER.DATE, dbo.TBL_STOCK_TRANSFER.STOCK_TRANSFER_NUMBER
FROM            dbo.TBL_STOCK_TRANSFER INNER JOIN
                         dbo.TBL_ITEMS ON dbo.TBL_STOCK_TRANSFER.ITEM_ID = dbo.TBL_ITEMS.ITEM_ID





GO
/****** Object:  View [dbo].[VW_EMP_ACCESS_MODULE]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_EMP_ACCESS_MODULE]
AS
SELECT        dbo.MODULE.MODULE_NAME, dbo.MODULE.MODULE_ID, CASE WHEN dbo.[AUTHORIZATION].ACTION_CREATE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_CREATE END AS ACTION_CREATE, 
                         CASE WHEN dbo.[AUTHORIZATION].EDIT IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].EDIT END AS EDIT, CASE WHEN dbo.[AUTHORIZATION].ACTION_DELETE IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_DELETE END AS ACTION_DELETE, CASE WHEN dbo.[AUTHORIZATION].ACTION_VIEW IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].ACTION_VIEW END AS ACTION_VIEW, CASE WHEN dbo.[AUTHORIZATION].VERIFICATION IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].VERIFICATION END AS VERIFICATION, CASE WHEN dbo.[AUTHORIZATION].NOTIFICATION IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].NOTIFICATION END AS NOTIFICATION, CASE WHEN dbo.[AUTHORIZATION].MESSAGE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].MESSAGE END AS MESSAGE, 
                         CASE WHEN dbo.[AUTHORIZATION].APPROVE IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].APPROVE END AS APPROVE, dbo.[AUTHORIZATION].ROLE_ID, 
                         CASE WHEN dbo.[AUTHORIZATION].MAILBACK IS NULL THEN 'false' ELSE dbo.[AUTHORIZATION].MAILBACK END AS MAILBACK, dbo.[AUTHORIZATION].ID, dbo.[AUTHORIZATION].MODIFIED_DATE, 
                         dbo.[AUTHORIZATION].User_Id, dbo.[AUTHORIZATION].Company_Id, CASE WHEN dbo.[AUTHORIZATION].IMORT_TO_EXCEL IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].IMORT_TO_EXCEL END AS IMORT_TO_EXCEL, CASE WHEN dbo.[AUTHORIZATION].EXPT_TO_EXCEL IS NULL 
                         THEN 'false' ELSE dbo.[AUTHORIZATION].EXPT_TO_EXCEL END AS EXPT_TO_EXCEL
FROM            dbo.[AUTHORIZATION] RIGHT OUTER JOIN
                         dbo.MODULE ON dbo.[AUTHORIZATION].MODULE_ID = dbo.MODULE.MODULE_ID




GO
/****** Object:  StoredProcedure [dbo].[SP_All_Invoice]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[SP_All_Invoice]
as
begin
SELECT        dbo.TBL_INVOICE_PAY.INVOICE_NO, dbo.TBL_INVOICE_PAY.INVOICE_DATE, dbo.TBL_INVOICE_PAY.CUSTOMER, dbo.TBL_INVOICE_PAY.CUSTOMER_ID, 
                         dbo.TBL_INVOICE_PAY.AVAILABLE_CREDIT_LIMIT, dbo.TBL_INVOICE_PAY.SALES_EXECUTIVE, dbo.TBL_INVOICE_PAY.SALES_EXECUTIVE_ID, 
                         dbo.TBL_INVOICE_PAY.CUSTOMER_EMAIL, dbo.TBL_INVOICE_PAY.CUSTOMER_MOBILE_NO, dbo.TBL_INVOICE_PAY.BEFORE_ROUNDOFF, 
                         dbo.TBL_INVOICE_PAY.ROUNDOFF_AMOUNT, dbo.TBL_INVOICE_PAY.TOTAL_AMOUNT, dbo.TBL_INVOICE_PAY.QUANTITY_TOTAL, 
                         dbo.TBL_INVOICE_PAY.NUMBER_OF_ITEM, dbo.TBL_INVOICE_PAY.DISCOUNT_INCLUDED, dbo.TBL_INVOICE_PAY.TAX_INCLUDED, 
                         dbo.TBL_INVOICE_PAY.RECIVED_AMOUNT, dbo.TBL_INVOICE_PAY.RETURNABLE_AMOUNT, dbo.TBL_INVOICE_PAY.COMMISION_EXPENSE, 
                         dbo.TBL_INVOICE_PAY.PENDING_AMOUNT, dbo.TBL_INVOICE_PAY.NOTE, dbo.TBL_INVOICE_PAY.IS_GOODS_DELIVERED, dbo.TBL_INVOICE_PAY.IS_PRINT, 
                         dbo.TBL_INVOICE_PAY.IS_SAVE_RETURNABLE_AMOUNT, dbo.TBL_INVOICE_PAY.USER_ID, dbo.TBL_TRANSFER.TRANSFER_AMOUNT, 
                         dbo.TBL_CHEQUE.CHEQUE_AMOUNT, dbo.TBL_CHEQUE.CHEQUE_NO, dbo.TBL_CHEQUE.CHEQUE_BRANCH, dbo.TBL_CASH_REG.CASH_AMOUNT, 
                         dbo.TBL_FINANCIAL.FINANCIAL_AMOUNT, dbo.TBL_FINANCIAL.FINANCIAL_CREDIT_AC, dbo.TBL_FINANCIAL.FINANCIAL_CREDIT_ID, 
                         dbo.TBL_CASH_REG.CASH_REG_DATE, dbo.TBL_CASH_REG.CASH_REG, dbo.TBL_CHEQUE.CHEQUE_DATE, dbo.TBL_CHEQUE.CHEQUE_BANK_AC, 
                         dbo.TBL_CHEQUE.CHAEQE_BANK_AC_ID, dbo.TBL_TRANSFER.TRANSFER_DATE, dbo.TBL_TRANSFER.TRANSFER_BANK_ID, 
                         dbo.TBL_TRANSFER.TRANSFER_BRANCH, dbo.TBL_TRANSFER.TRANSFER_BANK_AC
FROM            dbo.TBL_INVOICE_PAY LEFT OUTER JOIN
                         dbo.TBL_TRANSFER ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_TRANSFER.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_CHEQUE ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_CHEQUE.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_CASH_REG ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_CASH_REG.INVOICE_ID LEFT OUTER JOIN
                         dbo.TBL_FINANCIAL ON dbo.TBL_INVOICE_PAY.INVOICE_ID = dbo.TBL_FINANCIAL.INVOICE_ID
						 end


GO
/****** Object:  DdlTrigger [rds_deny_backups_trigger]    Script Date: 6/19/2017 5:16:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [rds_deny_backups_trigger] ON DATABASE WITH EXECUTE AS 'dbo' FOR
 ADD_ROLE_MEMBER, GRANT_DATABASE AS BEGIN
   SET NOCOUNT ON;
   SET ANSI_PADDING ON;
 
   DECLARE @data xml;
   DECLARE @user sysname;
   DECLARE @role sysname;
   DECLARE @type sysname;
   DECLARE @sql NVARCHAR(MAX);
   DECLARE @permissions TABLE(name sysname PRIMARY KEY);
   
   SELECT @data = EVENTDATA();
   SELECT @type = @data.value('(/EVENT_INSTANCE/EventType)[1]', 'sysname');
    
   IF @type = 'ADD_ROLE_MEMBER' BEGIN
      SELECT @user = @data.value('(/EVENT_INSTANCE/ObjectName)[1]', 'sysname'),
       @role = @data.value('(/EVENT_INSTANCE/RoleName)[1]', 'sysname');

      IF @role IN ('db_owner', 'db_backupoperator') BEGIN
         SELECT @sql = 'DENY BACKUP DATABASE, BACKUP LOG TO ' + QUOTENAME(@user);
         EXEC(@sql);
      END
   END ELSE IF @type = 'GRANT_DATABASE' BEGIN
      INSERT INTO @permissions(name)
      SELECT Permission.value('(text())[1]', 'sysname') FROM
       @data.nodes('/EVENT_INSTANCE/Permissions/Permission')
      AS DatabasePermissions(Permission);
      
      IF EXISTS (SELECT * FROM @permissions WHERE name IN ('BACKUP DATABASE',
       'BACKUP LOG'))
         RAISERROR('Cannot grant backup database or backup log', 15, 1) WITH LOG;       
   END
END


GO
ENABLE TRIGGER [rds_deny_backups_trigger] ON DATABASE
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[58] 4[12] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_EMPLOYEE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 300
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VW_EMP_MODULE_ACCESS"
            Begin Extent = 
               Top = 6
               Left = 338
               Bottom = 136
               Right = 523
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 21
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1845
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MODULE_RIGHTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MODULE_RIGHTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_REPORT_GROUP"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 213
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 6
               Left = 251
               Bottom = 136
               Right = 426
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_GROUP_SUBGROUP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_GROUP_SUBGROUP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[43] 4[12] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_INVOICE_PAY"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 209
               Right = 301
            End
            DisplayFlags = 280
            TopColumn = 19
         End
         Begin Table = "TBL_TRANSFER"
            Begin Extent = 
               Top = 34
               Left = 354
               Bottom = 209
               Right = 556
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "TBL_CHEQUE"
            Begin Extent = 
               Top = 74
               Left = 649
               Bottom = 203
               Right = 857
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "TBL_CASH_REG"
            Begin Extent = 
               Top = 0
               Left = 853
               Bottom = 158
               Right = 1033
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TBL_FINANCIAL"
            Begin Extent = 
               Top = 6
               Left = 1043
               Bottom = 135
               Right = 1257
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 44
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         W' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_INVOICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'idth = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_INVOICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_INVOICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[53] 4[5] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_OPENING_STOCK"
            Begin Extent = 
               Top = 93
               Left = 656
               Bottom = 302
               Right = 854
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_ITEMS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 217
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 36
         End
         Begin Table = "TBL_COMPANY"
            Begin Extent = 
               Top = 43
               Left = 933
               Bottom = 217
               Right = 1219
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TBL_TAX"
            Begin Extent = 
               Top = 150
               Left = 324
               Bottom = 280
               Right = 494
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 69
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 4380
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3075
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
       ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ITEM_ATTRIBUTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1800
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4125
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ITEM_ATTRIBUTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ITEM_ATTRIBUTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TBL_STOCK_TRANSFER"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 278
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TBL_ITEMS"
            Begin Extent = 
               Top = 6
               Left = 316
               Bottom = 136
               Right = 538
            End
            DisplayFlags = 280
            TopColumn = 17
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 28
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 2445
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_STOCK_SEARCH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_STOCK_SEARCH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AUTHORIZATION"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MODULE"
            Begin Extent = 
               Top = 6
               Left = 261
               Bottom = 136
               Right = 438
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EMP_ACCESS_MODULE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EMP_ACCESS_MODULE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AUTHORIZATION"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MODULE"
            Begin Extent = 
               Top = 6
               Left = 261
               Bottom = 136
               Right = 438
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EMP_MODULE_ACCESS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EMP_MODULE_ACCESS'
GO
USE [master]
GO
